.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  font-size: 40px;
  margin-top: 200px;
}

.heading {
  padding: 15px 25px;
  border-radius: 30px;
  color: #fefefe;
  margin-top: 100px;

  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.heading span a {
  color: cadetblue;
  text-decoration-style: wavy;
  text-decoration-color: gray;
}

.toast-container {
  position: absolute;
  top: 30px;
  right: 30px;
}

@media screen and (max-width: 425px) {
  .heading {
    font-size: 24px;
  }
  .toast-container{
    width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .heading {
    font-size: 16px;
  }
}